__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.venv/
venv/
ENV/
env/
.env

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

*.db
*.log
*.sqlite
*.sqlite3
*.spec

*.tmp
*.bak
*.temp

Thumbs.db
.directory

%APPDATA%/MetaStrip/

.python-version

.mypy_cache/
.dmypy.json
dmypy.json

.pytest_cache/

.coverage
htmlcov/
